
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: medium;
    color: rgb(164, 152, 152);
    flex-direction: column;
  }
  
  .rodape {
    margin: 10px;
  }
  
  .imageapp {
    width: 132px;
    height: 40px;
    align-items: center;
  }
  
  #rodape{
    display: flex;
  }
  
  #rodape-footer{
    display: flex;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .linhas {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .separador {
    height: 1px;
    background-color: #666;
    width: 100px;
    margin: 20px;
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: auto;
  }
  
  h2 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #00a8ff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    justify-content: center;
  }
  
  #footer {
    align-items: center;
    justify-content: center;
  }
  
  .forgot-password {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .senha {
    align-items: center;
    text-align: center;
  }
  
  
  
  .forgot-password a {
    color: #666;
    text-decoration: none;
  }
  
  .facebook-button {
    width: 100%;
    padding: 5px;
    background-color: #405a93;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .facebook-button {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo {
    width: 150px;
    justify-content: center;
    display: flex;
     margin-left: 50px;
  }
  
  .cadastro {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: small;
  }
  
  .cel {
    width: 350px;
  }
  .questão{
    text-align: left;
    color: black;
    font-weight: bold;
  }
  .perfil{
    text-align: left;
    color: black;
  }
  .numero{
    font-size: 10px;
    margin-right: 180px;
  }
  a {
    text-decoration: none;
    color:#1ED760;
    text-align: center;
  }
  .button{
    background-color: #1ED760;
  }
  #curtir{
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  p {
    color: #666;
    font-size: 13px;
  }

.google-button {
    width: 100%;
    padding: 5px;
    background-color: white;
    color: rgb(77, 77, 77) ;
    border: 2px solid gray;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}